@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Inter:wght@500&family=Lexend+Deca:wght@300&display=swap');

@mixin font-calligraffitti {
    font-family: 'Calligraffitti', cursive;
}

@mixin font-inter {
    font-family: 'Inter', sans-serif;
}

@mixin font-lexend-deca {
    font-family: 'Lexend Deca', sans-serif;
}