$font-size-lg: 1.5rem;
$font-size-md: 1rem;
$font-size-sm: 0.75rem;
$font-size-vsm: 0.625rem;

$font-weight-lg: 700;
$font-weight-md: 500;
$font-weight-sm: normal;

$margin-size-vlg: 4.5rem;
$margin-size-lg: 2rem;
$margin-size-md: 1rem;
$margin-size-sm: 0.75rem;
$margin-size-vsm: 0.5rem;

$padding-size-vlg: 3rem;
$padding-size-lg: 1.5rem;
$padding-size-md: 1rem;
$padding-size-sm: 0.75rem;
$padding-size-vsm: 0.5rem;